@import url(https://fonts.googleapis.com/css?family=Lato);        
    
body {
    background-image: url('Achtergrond404.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato';
}